{% extends 'layout.html.twig' %}

{% block title %}Login Page{% endblock %}

{% block body %}
  {% if error %}
    <span class="error"> Niepoprawny login/hasło. </span>
  {% endif %}
  <form action="{{ path('login') }}" method="POST">
    <div class="mb-3">
      <label for="inputname" class="form-label">Wpisz nazwę użytkownika</label>
      <input class="form-control" id="inputname" type="text" name="_username" value="{{ username }}" placeholder="Nazwa użytkownika">
    </div>
    <div class="mb-3">
      <label for="passwordinput" class="form-label">Wpisz swoje hasło</label>
      <input class="form-control" id="passwordinput" type="password" name="_password" placeholder="Hasło">
    </div>
    <button type="submit" class="btn my-btn">Zalgouj</button>
  </form>
{% endblock %}
